
.business{
    border: 2px solid #a9c6c9;
    vertical-align: middle;
    padding: 9px;
    height: 200px;
    border-collapse: collapse;
    margin: 2px;
    padding: 2px;
    width: 6.1in;
    z-index: 1;
    font-family: calibri;
}