{% extends "users/base.html" %}
{% block title %} Create_meeting Page {% endblock title%}
{% block content %}
<html>

    <div class="form-content my-3 p-3">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">Schedule Meeting</h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST" enctype=multipart/form-data>
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Venue</label>
                                            {{ form.venue }} 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Meeting</label>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label for ="demo" class="small mb-1">Date</label>
                                            <input type="date" id="demo" {{ form.meeting_date }}>
		                                </div>
		                            </div>

                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1"></label>
		                                    {{ form.time }}
		                                </div>
		                            </div>
                                    
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Description</label>
		                                    {{ form.description }}
		                                </div>
		                            </div>

                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Choose Document</label>
		                                    {{ form.avatar }}
		                                </div>
		                            </div>

		                        </div>

                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-dark">Create Meeting</button><br><br>
                                </div>
                            </form>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
	</div>
    <script>
        var todayDate = new Date();
        var month = todayDate.getMonth()+1; 
        var year = todayDate.getUTCFullYear() - 0; 
        var tdate = todayDate.getDate(); 
        if(month < 10){
        month = "0" + month 
        }
        if(tdate < 10){
        tdate = "0" + tdate;
        }
        var maxDate = year + "-" + month + "-" + tdate;
        document.getElementById("demo").setAttribute("min", maxDate);
        console.log(maxDate);
    </script>
{% endblock content %}

</html>