{% extends "users/base.html" %}
{% block title %} Take Minutes {% endblock title%}
{% block content %}
    <div class="form-content my-3 p-3">
		
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-5">
                        <div class="card-header justify-content-center">
                        	<h3 class="font-weight-light my-4 text-center">Take Minutes</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST", enctype='multipart/form-data'>
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Organization Name</label>
                                            {{ form.org_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Date of Meeting </label>
                                            <input type="date" id="demo" {{ form.date }}>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Members Present</label>
		                                    {{ form.members_present }}
		                                </div>
		                            </div>
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	<label class="small mb-1">Members Absent</label>
		                                    {{ form.members_absent }}
		                                </div>
		                            </div>
		                        </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Previous Minutes</label>
                                            {{ form.business_from_the_previous_meeting }}
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="small mb-1">The New Minutes</label>
                                            {{ form.new_business }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Additional Agenda</label>
                                            {{ form.additions_to_the_agenda }}
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="small mb-1">Adjourning Meeting</label>
                                            {{ form.adjournment }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1">Submitted By</label>
                                            {{ form.minutes_submitted_by }}
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="small mb-1">Approved By</label>
                                            {{ form.minutes_approved_by }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-dark">Submit</button><br><br>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
    <script>
        var todayDate = new Date();
        var month = todayDate.getMonth()+1; 
        var year = todayDate.getUTCFullYear() - 0; 
        var tdate = todayDate.getDate(); 
        if(month < 10){
        month = "0" + month 
        }
        if(tdate < 10){
        tdate = "0" + tdate;
        }
        var maxDate = year + "-" + month + "-" + tdate;
        document.getElementById("demo").setAttribute("min", maxDate);
        console.log(maxDate);
    </script>
{% endblock content %}